<% if @website.user == current_user %>

<h1><%= @website.name %></h1>
<p><%= link_to @website.url, @website.url, html_options = {target: "_blank"} %></p>

<%= link_to "Edit Site Info", edit_website_path, class: 'btn btn-success' %>
<hr>
<div id="name">
  <% if @website.verified == false %>
  <p>
    <span class="glyphicon glyphicon-warning-sign"></span>
    Place the following code in the <code>&lt;head&gt;</code> section of your site:
  </p>
  <p>
    <code>&lt;meta name="blocmetrics" value="<%= @website.verification_token %>" /&gt;</code>
  </p>
  <p>
    <%= link_to "Verify", verification_url(@website), method: :put %>
  </p>

  <% else %>
  <p>
    <span class="glyphicon glyphicon-ok"></span>
    Verified Website
    <span class="glyphicon glyphicon-thumbs-up"></span>
  </p>
  <% end %>
</div>

<% else %>
<h2>Shame on your <%= current_user.email %></h2>
<p>
  This is not your site. Stop trying to look at data that is not yours.
</p>
<% end %>
